@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;

    background-color:  #061222;
    background-size: cover;
    background-repeat: no-repeat;
    }

h1 {
    text-align: center;
    margin: auto; 
    position: absolute;
    left: 10%;
    top: 90%;  
    color: white;  
}