@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;

    background-color:  #061222;
    background-size: cover;
    background-repeat: no-repeat;
    }

p {
    text-align: center;
    margin: auto;
    margin-top: 340px; 
    color: white;
    background-color: #0612225e;
    text-shadow: 2px 2px 3px #061222;;
    border-radius: 30px;
    padding: 2px;
}